@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html class="login-pf">
<head>
    <title>Main</title>
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="overflow-y: auto; height: 100%; background-color: mediumspringgreen;">
    <div class="dropdown">
        <!-- Dropdown button -->
        <button class="dropdown-btn">Menu</button>

        <!-- Dropdown content -->
        <div class="dropdown-content">
            <a asp-area="" asp-controller="Home" asp-action="MenuManageMain">Quảng lý Pizza</a>
            <a>Quản lý Món Nước</a>
            <a asp-area="" asp-controller="Home" asp-action="MenuManageDesert">Quản lý Tráng Miệng</a>
        </div>
    </div>
    <div class="form-container">
        <div class="form-title">Quản lý Đồ Uống</div>

        <form id="drinkForm">
            <div class="form-grid">
                <input type="text" class="form-input" placeholder="ID">
                <input type="text" class="form-input" placeholder="Nhãn hiệu">
                <input type="text" class="form-input" placeholder="Giá cho size S">
            </div>

            <div class="size-option">
                <label for="drinkSize">Size:</label>
                <div class="size-buttons">
                    <button type="button" value="S">S</button>
                    <button type="button" value="M">M</button>
                    <button type="button" value="L">L</button>
                    <button type="button" value="XS">XS</button>
                    <button type="button" value="XL">XL</button>
                </div>
            </div>

            <div class="form-buttons">
                <button type="button" class="add">Add</button>
                <button type="button" class="delete">Delete</button>
                <button type="button" class="rewrite">Rewrite</button>
            </div>

            <div class="box">
                <div class="inner-box">
                    <table class="inner-table">
                        <thead>
                            <tr>
                                <th>Mã Món</th>
                                <th>Tên</th>
                                <th colspan="5">Giá</th>
                                <th>Tùy chọn</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>S</th>
                                <th>M</th>
                                <th>L</th>
                                <th>SL</th>
                                <th>XL</th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>Row 1, Cell 1</td>
                                <td>Row 1, Cell 2</td>
                                <td class="nested-cell">Nested 1</td>
                                <td class="nested-cell">Nested 2</td>
                                <td class="nested-cell">Nested 3</td>
                                <td class="nested-cell">Nested 4</td>
                                <td class="nested-cell">Nested 5</td>
                                <td style="width: 15%">
                                    <div class="form-buttons">
                                        <button type="button" class="delete">Delete</button>
                                        <button type="button" class="rewrite">Edit</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Row 1, Cell 1</td>
                                <td>Row 1, Cell 2</td>
                                <td class="nested-cell">Nested 1</td>
                                <td class="nested-cell">Nested 2</td>
                                <td class="nested-cell">Nested 3</td>
                                <td class="nested-cell">Nested 4</td>
                                <td class="nested-cell">Nested 5</td>
                                <td style="width: 15%">
                                    <div class="form-buttons">
                                        <button type="button" class="delete">Delete</button>
                                        <button type="button" class="rewrite">Edit</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</body>
</html>